<div class="row">
  <button type="button" class="btn btn-primary" id="medical">MEDICAL</button>
  <button type="button" class="btn btn-primary" id="trauma">TRAUMA</button>
</div>

<div class="row">
  <button type="button" class="btn btn-primary" id="pregnancy">PREGNANCY</button>
  <button type="button" class="btn btn-primary" id="child">CHILD</button>
</div>



