<div class="row">
  <button type="button" class="btn btn-primary btn-condition medical">MEDICAL</button>
  <button type="button" class="btn btn-primary btn-condition trauma">TRAUMA</button>
</div>

<div class="row">
  <button type="button" class="btn btn-primary btn-condition pregnancy">PREGNANCY</button>
  <button type="button" class="btn btn-primary btn-condition child">CHILD</button>
</div>

<br></br>

 <ul>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="medical" aria-hidden="true">Medical</i>
          </div>
      </label>
    </li>

    <ul>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="trauma" aria-hidden="true">Trauma</i>
          </div>
      </label>
    </li>

    <ul>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="pregnancy" aria-hidden="true">Pregnancy</i>
          </div>
      </label>
    </li>

    <ul>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="child" aria-hidden="true">Child</i>
          </div>
      </label>
    </li>

