<div class="row">
  <button type="button" class="btn btn-condition medical">MEDICAL</button>
  <button type="button" class="btn btn-condition trauma">TRAUMA</button>
</div>

<div class="row">
  <button type="button" class="btn btn-condition pregnancy">PREGNANCY</button>
  <button type="button" class="btn btn-condition child">CHILD</button>
</div>

