<div class="footer mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-links text-center">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="footer-copyright text-center">
          Save Time. Save Life. <i class="fas fa-siren-on"></i>
        </div>
      </div>
    </div>
  </div>
</div>
