  <div class="radiobtn">
    <input type="radio" id="huey"
           name="drone" value="huey" checked />
    <label for="huey">Male</label>
  </div>

  <div class="radiobtn">
    <input type="radio" id="dewey"
           name="drone" value="dewey" />
    <label for="dewey">Female</label>
  </div>
