<% call.details.each do |detail| %>
  <b><%= detail.name
  .split(' ')
  .select{ |word| !['burn'].include(word) }
  .map{ |word| word.capitalize }
  .join(' ')
  %>:</b>
    <%= detail.value.kind_of(Array) ? detail.value.map { |word| word.capitalize }.join(' ') : detail.value.capitalize %></p>
<% end %>
