h2 {
  font-weight: bold
}

.call-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  flex-basis: 30vw; // Width of the flex element.
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.content {
  flex-grow: 1;
  overflow-y: scroll;
}

.content p {
  font-family: Karla;
  font-size: 24px;
  color: white;
}

.vital-signs p {
  display: inline-block;
  margin-right: 12px;
}
