<div class="wrapper">
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#age" role="button" aria-expanded="true" aria-controls="collapseExample">
      Age
    </a>
  </p>
  <div class="collapse" id="age">
    <div class="card card-body">
      <%= f.text_field :pulse %>
    </div>
  </div>
</div>


