<div>
  <h2>Breathing Difficulty:</h2>
    <% field.values.each do |value| %>
      <input type="radio" name= "call[details[breathing_difficulty]]" value="<%= value %>">
      <label><%= value %></label>
    <% end %>
</div>
