<div>
  <h2>Breathing Difficulty:</h2>
  <% field.values.each do |value| %>
    <input type="radio" name="breathing_difficulty-option" value="<%= value %>">
    <label><%= value %></label>
  <% end %>
</div>
