<div class="wrapper">
  <div class = "card card-body">
    <h2 >Burn Context:</h2>
      <% field.values.each do |value| %>
        <input type="checkbox" name="call[details[burn_context][]" value="<%= value %>">
        <label><%= value %></label>
      <% end %>
  </div>
</div>
