<div>
  <h2 class="btn btn-primary" data-toggle="collapse" href="#burn_degree" role="button" aria-controls="collapse" >Degree</h2>
  <div class="collapse" id="burn_degree">
    <% field.values.each do |value| %>
      <input type="radio" name="call[details[burn_degree]]" value="<%= value %>">
      <label><%= value %></label>
    <% end %>
  </div>
</div>
