<div>
  <h2 class="btn btn-primary" data-toggle="collapse" href="#burn_percentage" role="button" aria-controls="collapse">Burn Percentage</h2>
    <div class="collapse" id="burn_percentage">
      <input type="number" name="call[details[burn_percentage]]">
    </div>
</div>

