<div>
  <h2 class="btn btn-primary" data-toggle="collapse" href="#burn_location" role="button" aria-controls="collapse" >Body Part</h2>
  <div class="collapse" id="burn_location">
    <% field.values.each do |value| %>
      <input type="checkbox" name="call[details[burn_location]][]" value="<%= value %>">
      <label><%= value %></label>
    <% end %>
  </div>
</div>
