<div>
  <h2>Smoke Inhalation:</h2>
  <% field.values.each do |value| %>
    <input type="radio" name="call[details[burn_smoke_inhalation]" value="<%= value %>">
    <label><%= value %></label>
  <% end %>
</div>
