<div>
  <h2>Medication Given:</h2>
  <% field.values.each do |value| %>
    <input type="checkbox" name="call[details[chest_pain_meds_option]]" value="<%= value %>">
    <label><%= value %></label>
  <% end %>
</div>
