<div>
  <h2 >Past History:</h2>
    <% field.values.each do |value| %>
      <input type="checkbox" name="call[details[chest_pain_past_history]][]" value="<%= value %>">
      <label><%= value %></label>
    <% end %>
</div>
