<div>
  <h2 class="btn btn-primary" data-toggle="collapse" href="#chest_pain_worsened_by" role="button" aria-controls="collapse">Worsened By:</h2>
  <div class="collapse" id="chest_pain_worsened_by">
    <% field.values.each do |value| %>
      <input type="checkbox" name="call[details[chest_pain_worsened_by]][]" value="<%= value %>">
      <label><%= value %></label>
    <% end %>
  </div>
</div>
