<div>
  <h2>Current Conditon:</h2>
    <input type="checkbox" name="past_history-option" value="Still Present">
    <label>Still Present</label>
    <input type="checkbox" name="past_history-option" value="Better">
    <label>Better</label>
    <input type="checkbox" name="past_history-option" value="Worse">
    <label>Worse</label>
    <input type="checkbox" name="past_history-option" value="Gone">
    <label>Gone</label>
</div>
