<div>
  <h2 class="btn btn-primary" data-toggle="collapse" href="#current_condition" role="button" aria-controls="collapse">Current Conditon:</h2>
    <div class="collapse" id="current_condition">
      <input type="checkbox" name="call[details[current_condition]]" value="Still Present">
      <label>Still Present</label>
      <input type="checkbox" name="call[details[current_condition]]" value="Better">
      <label>Better</label>
      <input type="checkbox" name="call[details[current_condition]]" value="Worse">
      <label>Worse</label>
      <input type="checkbox" name="call[details[current_condition]]" value="Gone">
      <label>Gone</label>
    </div>
</div>
