<div class="wrapper">
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#pulse" role="button" aria-expanded="false" aria-controls="collapseExample">
      Pulse
    </a>
  </p>
  <div class="collapse" id="pulse">
    <div class="card card-body">
      <%= f.text_field :age %>
    </div>
  </div>
</div>
