<div class="wrapper">
  <div class = "card card-body">
    <h2 >Radiating to:</h2>
    <% field.values.each do |value| %>
      <input type="checkbox" name="call[details[radiating_to]][]" value="<%= value %>">
      <label><%= value %></label>
    <% end %>
  </div>
</div>
