<div class="wrapper">
  <div class = "card card-body">
    <h4>STEMI:</h4>
      <% field.values.each do |value| %>
        <input type="radio" name="call[details[STEMI]]" value="<%= value %>">
        <label><%= value %></label>
      <% end %>
  </div>
</div>
