<div class="wrapper">
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#temperature" role="button" aria-expanded="false" aria-controls="collapseExample">
      Temperature
    </a>
  </p>
  <div class="collapse" id="temperature">
    <div class="card card-body">
      <%= f.text_field :temperature %>
    </div>
  </div>
</div>
