<!-- <label style="font-size:24px, font-style:bold"> -->
<div class="form-group">
  <label for="exampleFormControlInput1" style="font-size:24px"><b><%= field.name.humanize %>:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="How long ago?" name="call[details[<%= field.name %>]">
</div>
