<div>
  <h2 class="btn btn-primary" data-toggle="collapse" href="#time_of_onset" role="button" aria-controls="collapse">Time of Onset:</h2>
    <div class="collapse" id="time_of_onset">
      <input type="text" name="call[details[time_of_onset]]">
    </div>
</div>
