<div>
  <h2 class="btn btn-primary" data-toggle="collapse" href="#timing" role="button" aria-controls="collapse">Timing:</h2>
  <div class="collapse" id="timing">
    <% field.values.each do |value| %>
      <input type="radio" name="call[details[timing]]" value="<%= value %>">
      <label><%= value %></label>
    <% end %>
  </div>
</div>
