<div class="form-group">
  <label for="exampleFormControlInput1"><%= field.name.humanize %></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="How long ago?" name="call[details[<%= field.name %>]">
</div>
