<div class="home-dark d-flex justify-content-center align-items-center mb-5">
  <div id = "slogan-div">
    <h1 id = "slogan-font">
      <span id="slogan"></span>
    </h1>
  </div>
</div>

<div class="you-tube text-center mb-5 vh-100 d-flex align-items-center flex-column justify-content-center">
  <h2 class = "mb-5">This is how things are done right now...</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/AjMZE9S9vkQ?start=10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<%= render 'components/footer' %>
