<%= cl_image_tag hospital.photo.key,
  alt: hospital.name,
  class: "img-gradient",
  width: 330,
  height: 100,
  crop: :fill
%>
<div class="card-body">
  <h3><%= hospital.name %></h3>

  <p class="card-text"><small><%= hospital.address %></small></p>
</div>
