<div class="card">
  <img class="card-img-top" src="https://www.ohiohealth.com/siteassets/find-a-location/all-location-images/columbus/3535-olentangy-river-road-columbus-neurocenter-location-card.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= hospital.name %></h5>
    <p class="card-text"><%= hospital.address %></p>
  </div>
</div>
