<div class="call-wrapper">
  <div class="sidebar"  id="calls-bar">
    <% @hospital.calls.each do |call| %>
      <%= render "hospitals/call_card", call: call %>
    <% end %>
  </div>
  <div class="content">

    <div class="call-info" id="call-info">
      <% if @hospital.calls.any? %>
        <%= render "calls/show", call: @hospital.calls.last %>
      <% else %>
        <h2 class = "waiting for call">Waiting for Calls...</h2>
      <% end %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    App["hospital_<%= @hospital.id %>_calls"] = App.cable.subscriptions.create({
      channel: 'HospitalChannel',
      hospital_id: <%= @hospital.id %>,
    }, {
        received: (data) => {
          console.log(data)
          const callsBar = document.querySelector("#calls-bar");
          callsBar.insertAdjacentHTML("beforeEnd", data.card);
          const content = document.querySelector("#call-info");
          content.insertAdjacentHTML("beforeEnd", data.content);
      }
    })
  </script>
<% end %>
