<div class="call-wrapper">
  <div class="sidebar">
    <% @hospital.calls.each do |call| %>
      <%= render "hospitals/call_card", call: call %>
    <% end %>
  </div>

  <div class="content">

    <div class="call-info">
      <% if @hospital.calls.any? %>
        <%= render "calls/show", call: @hospital.calls.last %>
      <% else %>
        <h2 class = "waiting for call">Waiting for Calls...</h2>
      <% end %>
    </div>
  </div>
</div>
