.btn-primary {
  width: 280px;
  height: 147px;
  border-radius: 2px;
  border:none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-align: center;
  margin-left: 3px;
  margin-top: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover{
  transition: .3s;
  box-shadow: none;
  border-color: #fff;
  border-width: 1px;
  }
}

#medical {
  // background-color: #2E4D89;
  background-color: #1fc8db;
}

#trauma {
  background-color: #DB162F;
}

#pregnancy {
  background-color: #0CBE73;
}

#child {
  background-color: #F09896;
}

