.button {

position: absolute;
width: 280px;
height: 80px;
left: 47px;
top: 230px;

border-radius: 5px;


/* Rectangle 15 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Main blue */
background: #2E4D89;
border-radius: 5px;
}


// /* Primary button */

// position: absolute;
// width: 193px;
// height: 29px;
// left: calc(50% - 193px/2 - 0.5px);
// top: calc(50% - 29px/2 + 0.5px);

// font-family: Montserrat;
// font-style: normal;
// font-weight: bold;
// font-size: 24px;
// line-height: 29px;
// text-align: center;

// /* White */
// color: #FFFFFF;
