.form-screen{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: relative;
}



@media (min-width: 664px) {
  /* For a screen < 765px, this CSS will be read */
  .form-screen {
      height: 100%;
    }
  .categories {
    padding: 155px 0;
  }
}
