.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.CD3 {
width: 126px;
height: 70.84px;
font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 71px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}

