.navbar-lewagon {
  justify-content: space-between;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  color: #fff;
}

.CD3 {
width: 126px;
height: 70.84px;
font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 71px;
display: flex;
align-items: center;
text-align: center;
color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}
